@font-face {
    font-family: 'ITC Avant Garde Gothic Pro';
    src: url('../static/fonts/ITCAvantGardePro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    src: url('../static/fonts/Avenir.ttc') format('opentype');
}

.rightsection{
    background: #FFFFFF;
}

.textone {
    font-family: 'ITC Avant Garde Gothic Pro', sans-serif;
}

.texttwo{
    font-family: 'Avenir';
    color: #666666;
}

.textthree{
    font-family: 'Avenir';
    color: #000000;
}

.line{
    background: #000000;
}

.productdescription{
    font-family: 'Avenir';
    color: #000000;
}

.price{
    font-family: 'Avenir';
    color: #000000;
}

.roundone{
    background: #99C4CC;
}

.roundtwo{
    background: #CC9999;
}

.roundthree{
    background: #CB99CC;
}

.roundfour{
    background: #A6CC99;
}
